

.center {
    text-align: center;
    color: green;
}


body {
    background-color: lightyellow;
}

.footer {
    background-color: rgb(255,0,0);
	border: 50px;
	color: yellow;
}

ul#list {
position: center;
padding-top: 20px;
 
}
 
ul#listli {
display: inline;
    }
